<table cellspacing="0" cellpadding="0" class="dialog-wrapper dialog-container" style="table-layout:fixed;" >
  <tr height="100%">			
    <td height="100%" valign="top" > 
    	<div class="_tabPanel" style="width:100%;height:100%;">
    		<div id="_treeDiv" class="_treeDiv tab-content system_color_white " style="overflow:auto; width:100%;height:100%;background-color:#fff;"/>
    	</div>
	</td>
  </tr>
  <tr style="height:26px">			
    <td class="_searchTd"></td>
  </tr>
</table>